<app-popup height="auto" width="50%" height="100%" [visible]="visible" (visibilityChanged)="popupVisibility($event)" [cancelCallback]="onCancel"
  [confirmCallback]="onSubmit" [title]="header">
  <p>{{timetable |json}}</p>
  <form [formGroup]="form">
    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-label">Naziv</div>
        <div class="dx-field-value">
          <dx-text-box placeholder="Naziv dogodka..." formControlName="name" [(isValid)]="!descriptionControlInvalid">
          </dx-text-box>
        </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Obdobje</div>
        <div class="dx-field-value">
          <div style="float:left">
            <dx-date-box type="datetime" formControlName="timeStart" [isValid]="!timeStartControlInvalid"></dx-date-box>
          </div>
          <div style="float:left">&nbsp;</div>
          <div style="float:left">
            <dx-date-box style="float:left" type="datetime" formControlName="timeEnd" [isValid]="!timeEndControlInvalid"></dx-date-box>
          </div>
        </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">Ponovi na</div>
        <div class="dx-field-value">
          <div style="float:left">
            <dx-number-box formControlName="repetition" [showSpinButtons]="true" (onValueChanged)="repetitionChanged($event)"></dx-number-box>
          </div>
          <div style="float:left">&nbsp;</div>
          <div style="float:left">
            <dx-select-box formControlName="frequency" [items]="frequencyItems" displayExpr="name" valueExpr="key" (onValueChanged)="frequencyChanged($event)"></dx-select-box>
          </div>
        </div>
      </div>
      <div class="dx-field" *ngIf="repetitionVisible">
        <div class="dx-field-label">Ponovi na določen dan</div>
        <div class="dx-field-value">
          <div style="float:left">
            <button type="button" class="btn" (click)="selectDay('MO')" [ngClass]="isSelected('MO') ? 'btn-primary': 'btn-light'">P</button>
          </div>
          <div style="float:left">&nbsp;</div>
          <div style="float:left">
            <button type="button" class="btn" (click)="selectDay('TU')" [ngClass]="isSelected('TU') ? 'btn-primary': 'btn-light'">T</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-popup>