.dx-accordion-item-title {
  padding: 10px 0 5px 0;
}

.dx-accordion-item-body {
  padding: 0;
  /* font-size: .85em; */
}

.smaller .dx-accordion-item-body {
  font-size: .85em;
}

::ng-deep .dx-accordion-item {
  border: 0;
}

::ng-deep .smaller .dx-accordion-wrapper {
  padding-bottom: 15px;
}

