<div class="toolbar">
  <div class="planLabel">Plan</div>
  <div>
    <dx-select-box class="" #selectBox [items]="planItems" displayExpr="name" valueExpr="idPlan" [value]="selectedId">
      <div *dxTemplate="let data of 'item'">
        <div class="select-item">
          <div class="select-item--txt" (click)="onChange(data)">
            {{ data.name }}
          </div>
          <div class="select-item--right" *ngIf="data.idPlan !== 1">
            <dx-button (onClick)="onRemove($event, data)" type="button" class="btn btn-sm btn-light" [disabled]="data.idPlan === 1">
              <fa-icon class="cursor-pointer" [icon]="deleteIcon"></fa-icon>Briši
            </dx-button>
          </div>
        </div>
      </div>
    </dx-select-box>
  </div>

  <div>
    <button (click)="onAdd()" type="button" class="btn btn-sm btn-light">
      <fa-icon class="cursor-pointer" [icon]="editIcon"></fa-icon> Dodaj</button
    >&nbsp;
    <button (click)="onShowSimulation()" type="button" class="btn btn-sm btn-primary" *ngIf="selectedId !== 1">
      <fa-icon class="cursor-pointer" [icon]="simulationIcon"></fa-icon> Simulacija
    </button>
  </div>
</div>
