<!-- <div style="width: 400px;">
  <div class="dx-field">
    <div class="dx-field-label">{{translate('Plan_hours')}}</div>
    <div class="dx-field-value">
      <dx-check-box
        (onValueChanged)="plannedHoursSwitchEvent($event)"
        [value]="planHoursSwitch$ | async"
      ></dx-check-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">{{translate('Date_From')}}</div>
    <div class="dx-field-value" style="width: auto;">
      <app-datebox
        (change)="setLimitDate($event)"
        [date]="limitDate$ | async"
      ></app-datebox>
    </div>
  </div>
</div> -->

<dx-toolbar>
  <dxi-item location="auto" 
    widget="dxButton" 
    locateInMenu="never">
    <div *dxTemplate>
      <div>{{translate('Date_From')}}</div>
    </div>        
  </dxi-item>
  <dxi-item location="auto" 
    widget="dxDateBox"
    locateInMenu="auto"  
    [options]="{ value: limitDate$ | async, onValueChanged: setLimitDate }">
  </dxi-item>

  <dxi-item location="auto" 
    widget="dxCheckBox" 
    locateInMenu="auto" 
    [options]="{ text: translate('Plan_hours'), value:planHoursSwitch$ | async, onValueChanged: plannHoursSwitchEvent }">
  </dxi-item>
</dx-toolbar>

<app-plan-item-grid-items
  id="itemGridContainer"
  [items]="planItemGrid$ | async"
  [selectedItems]="selectedPlanItemGrid$ | async"
  (selectItem)="onItemSelect($event)"
  [containers]="containers$ | async"
>
</app-plan-item-grid-items>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#itemGridContainer' }"
  [visible]="loading$ | async"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false"
></dx-load-panel>
