<dx-toolbar class="toolbar-custom">
  <dxi-item location="auto" widget="dxButton" locateInMenu="never">
    <div>{{translate('Date_From')}}</div>
  </dxi-item>

  <dxi-item location="auto" widget="dxButton" locateInMenu="never" cssClass="toolbar-item-custom">
    <app-datebox
      (change)="setLimitDate($event)"
      [date]="limitDate$ | async">
    </app-datebox>
  </dxi-item>

  <dxi-item location="auto"
    widget="dxCheckBox"
    locateInMenu="auto"
    cssClass="toolbar-item-custom"
    [options]="{ text: translate('Plan_hours'), value:planHoursSwitch$ | async, onValueChanged: plannedHoursSwitchEvent }">
  </dxi-item>
</dx-toolbar>

<app-plan-item-grid-items
  id="itemGridContainer"
  [items]="planItemGrid$ | async"
  [selectedItems]="selectedPlanItemGrid$ | async"
  (selectItem)="onItemSelect($event)"
  [containers]="containers$ | async"
>
</app-plan-item-grid-items>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#itemGridContainer' }"
  [visible]="loading$ | async"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false"
></dx-load-panel>


