<div class="toolbar-item" [ngClass]="{'active': selected}" (click)="onSelectShedule(scheduleData)">
    <div>
        <strong>{{scheduleData.description}}</strong> {{scheduleData.timeStart | date:'longDate'}} - {{scheduleData.timeEnd | date:'longDate'}}
    </div>
    <div *ngIf="selected" class="toolbar-icons">
        <fa-icon class="cursor-pointer" size="md" [icon]="checkIcon"></fa-icon>
    </div>
</div>
<!--
<dx-data-grid 
    id="gridContainer"
    [dataSource]="dataSource"
    keyExpr="id"
    [allowColumnReordering]="true"
    (onEditingStart)="logEvent('EditingStart')"
    (onInitNewRow)="logEvent('InitNewRow')"
    (onRowInserting)="logEvent('RowInserting')"
    (onRowInserted)="logEvent('RowInserted')"
    (onRowUpdating)="logEvent('RowUpdating')"
    (onRowUpdated)="logEvent('RowUpdated')"
    (onRowRemoving)="logEvent('RowRemoving')"
    (onRowRemoved)="logEvent('RowRemoved')">
    
    <dxo-paging [enabled]="true"></dxo-paging>
    <dxo-editing 
         mode="row"
         [allowUpdating]="true"
         [allowDeleting]="true"
         [allowAdding]="true">
    </dxo-editing>    
    <dxi-column
        dataField="timeStart"
        [width]="125"
        dataType="date">
    </dxi-column>
    <dxi-column
        dataField="timeEnd"
        [width]="125"
        dataType="date">
    </dxi-column>
    <dxi-column
      [width]="125"
      alignment="center" dataField="" cellTemplate="selectTemplate">
    </dxi-column>
  
    <div *dxTemplate="let cell of 'selectTemplate'">
      <a class="span-link" (click)="onSelectShedule(cell.data)">Preglej</a>
    </div>
</dx-data-grid>
-->