<div class="card text-white" [ngClass]="subItem.plannable ? 'bg-kolektor' : 'bg-secondary'">
    <div class="card-body">
        <h5 class="card-title text-white">{{ subItem.code }} - {{ subItem.name }}</h5>
        <div class="card-text">
            <table>
                <thead></thead>
                <tbody>
                    <tr>
                        <td class="pr-3">Priprava:</td>
                        <th>{{ convertTime(subItem.normativeTimePreparation) }}</th>
                    </tr>
                    <tr>
                        <td class="pr-3">Izdelava:</td>
                        <th>{{ convertTime(subItem.normativeTimeMachine * quantity) }}</th>
                    </tr>
                    <!-- <tr>
                        <td class="pr-3">Operater:</td>
                        <th>{{ subItem.normativeTimeWorker }} min</th>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>