<dx-data-grid
(onCellPrepared)="applyCellStyles($event)"
  [dataSource]="operations"
  [showBorders]="true"
  [columnAutoWidth]="true"
  (onRowUpdating)="updateOperation($event)"
  >
  <dxo-editing
    mode="cell"
    [allowUpdating]="true">
  </dxo-editing>
  <!-- <dxi-column dataField="code" caption="Koda" [allowEditing]="false"></dxi-column> -->
  <dxi-column dataField="name" caption="Naziv"  [allowEditing]="false"></dxi-column>
  <dxi-column dataField="idContainer" caption="Delovno mesto">
  <dxo-lookup
    [dataSource]="containers"
    displayExpr="code"
    valueExpr="id">
  </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="timeStart" [dataType]="(planHoursSwitch$ | async) ? 'datetime' : 'date'" caption="Začetek"></dxi-column>
  <dxi-column dataField="timeEnd" [dataType]="(planHoursSwitch$ | async) ? 'datetime' : 'date'" caption="Konec"></dxi-column>

  <dxi-column dataField="idPriority" caption="Prioriteta" [allowEditing]="true">
    <dxo-lookup
          [dataSource]="priorities"
          displayExpr="Name"
          valueExpr="ID">
        </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="idUserStatus" caption="Izvajanje">
    <dxo-lookup
          [dataSource]="executionStatuses"
          displayExpr="Name"
          valueExpr="ID">
        </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="userDate" caption="Datum" [dataType]="(planHoursSwitch$ | async) ? 'datetime' : 'date'"></dxi-column>
  <dxi-column dataField="comment" caption="Komentar" [allowEditing]="true"></dxi-column>

</dx-data-grid>
