<app-plan-viewer
      [currentDate]="currentDate"
      [selectedPreplanItem]="selectedPrePlanItem$ | async"
      [selectedContainers]="selectedContainers$ | async"
      [planItemGetReponse]="planItems$ | async"
      [timeUpdateSuggestion]="timeUpdateSuggestion$ | async"
      [notWorkingHoursUpdateSuggestion]="notWorkingHoursUpdateSuggestion$ | async"
      (planItemReload)="onPlanItemReload($event)"
      (removeBlankSpace)="onRemoveBlankSpace($event)"
      (toggleLock)="onToggleLock($event)"
      (showMassLockPopup)="onShowMassLockPopup($event)"
      (planItemLoad)="onPlanItemLoad($event)"
      (planItemCreate)="onPlanItemCreate($event)"
      (planItemUpdate)="onPlanItemUpdate($event)"
      (planItemDelete)="onPlanItemDelete($event)"
      (getResolveSequenceSuggestion)="onGetResolveSequenceSuggestion($event)"
      (resolveSequence)="onResolveSequence($event)"
      (clearTimeSuggestion)="onClearTimeSuggestion()"
      (getResolveNotWorkingHoursSuggestion)="onGetResolveNotWorkingHoursSuggestion($event)"
      (resolveNotWorkingHours)="onResolveNotWorkingHours($event)"
      (clearNotWorkingHoursSuggestion)="onClearNotWorkingHoursSuggestion()"
      (loadTimeRealizationSuggestion)="onLoadTimeRealizationSuggestion($event)"
    >
    </app-plan-viewer>
    <app-realization-timeupdate-popup
      [planItems]="(planItems$ | async) ? (planItems$ | async)?.planItems : null"
      [suggestion]="timeUpdateRealizationSuggestion$ | async"
      (clearTimeRealizationSuggestion)="onClearTimeRealizationSuggestion()"
      (resolveTimeRealization)="onResolveRealization($event)"
    >
    </app-realization-timeupdate-popup>
