
::ng-deep .showtime-preview > div:not(:first-child) {
    font-size: 11px;
    white-space: normal;
}

::ng-deep .movie-tooltip {
    width: 270px;
}

::ng-deep .dx-scheduler-date-table-row {
    height: 100px;
}

::ng-deep .dx-scheduler-group-row {
    height: 100px;
}


::ng-deep .movie-tooltip .movie-info {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    text-align: left;
}

::ng-deep .movie-tooltip img {
    height: 80px;
    margin-bottom: 10px;
}

::ng-deep .movie-tooltip .movie-title {
    font-size: 1.5em;
    line-height: 40px;
}

::ng-deep .long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

::ng-deep .dx-scheduler-appointment-content{    
    padding: 0px;
    margin: 0px;
}

.box1 {
    background: rgb(219, 218, 218);
    text-align: center;
    
  }
  .boxwrapper {
    background: grey;
    height: 100%;
    text-align: center;
    width: 45%;
  }
.box2 {
    background: transparent;
    grid-row: span 2;
    align-items: center;
    text-align: center;
    vertical-align: center;
  }
.box3 {
    background: rgb(252, 181, 181);
    display: grid;
    grid-template-columns: 5fr 1fr;    
  }
.box4 {
    background: rgb(71, 175, 140);
    
}

.box5 {
    background: green;
    
}

.containerApp{
    display: grid;
    height: 100%;
    width: 100%;  
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 5fr 1fr;   
    border: gray solid 1px;
  }
  .stackem div {
    width: 100%;
}

.box1 > span {
    display: block;
    height: 100%;    
    background-color: grey;      
    position: relative;
    overflow: hidden;
    text-align: center;
  }