<!-- <button (click)="removeBlankSpace()" class="btn btn-success" type="button">Zgosti</button> -->
<div class="toolbar" [hidden]="!visible">
    <div class="cellDurationContainer" >
        <div></div>
        <div class="dx-field">
            <div class="dx-field-label">Dolžina celice</div>
            <div class="dx-field-value">
                <dx-select-box [(ngModel)]="cellDuration" [dataSource]="cellDurations" style="margin: 2px;">
                </dx-select-box>
            </div>
        </div>   
    </div>    
    <button type="button" (click)="onRemoveBlankSpace()" class="btn btn-primary">Zgoščevanje</button>     
    <button type="button" (click)="onShowMassLockPopup()" class="btn btn-primary">Masovno zaklepanje</button>     
</div>
<div class="card" [hidden]="visible">
    <div class="card-body">
        Za razporejanje izberite delovno mesto.
    </div>
</div>



<app-mass-lock-popup></app-mass-lock-popup>

<div class="alert alert-primary" role="alert" *ngIf="schedulerResources.length == 0;" style="margin: 2px; text-align: center; color: #084578; background-color: #F0F2EF; border-color: #F0F2EF;">
    Za prikaz koledarja izberite eno ali več delovnih mest
</div>
<dx-scheduler id="scheduler" 
    [dataSource]="planItems"
    [views]="['day', 'week', 'timelineDay',  'timelineWeek', 'timelineWorkWeek']" 
    [(currentView)]="currentView"         
    [groups]="['containerId']" 
    [resources]="schedulerResources"
    [currentDate]="currentDate"        
    [crossScrollingEnabled]="true" 
    [(cellDuration)]="cellDuration"
    [visible] = "visible"
    appointmentTemplate="appointment-template" 
    (onOptionChanged)="optionChanged($event)"
    (onContentReady)="onContentReady($event)" 
    (onAppointmentUpdating)="onAppointmentUpdating($event)"
    (onAppointmentDeleting)="onAppointmentDeleting($event)"    
    (onAppointmentFormCreated)="onAppointmentFormCreated($event)"
    (onCellClick)="onCellClick($event)"
    appointmentTooltipTemplate="tooltip-template"    
    >
   
    <div *dxTemplate="let plannedEvent of 'appointment-template'">
            <app-plan-viewer-item [plannerItemData]="plannedEvent"></app-plan-viewer-item>           
    </div>

    <div *dxTemplate="let plannedEvent of 'tooltip-template'">
            <h4>#{{ plannedEvent.subItemCode }} {{ plannedEvent.subItemName }}</h4>
            <hr class="redline">
        <div class='event-tooltip text-left'>
            
            <h6>Delovni nalog</h6>
            <table class="table">
                <tr>
                    <td>Šifra</td>
                    <th>{{ plannedEvent.itemName }}</th>
                </tr>
                <tr>
                    <td>Količina</td>
                    <th>{{ plannedEvent.quantity }} {{ plannedEvent.unitQuantity }}</th>
                </tr>
            </table>

            <h6>Operacije delovnega naloga</h6>
            <table class="table">
                <tr *ngFor="let op of plannedEvent.sequencePlanItems" [ngClass]="{'font-weight-bold': op.idPrePlanItem === plannedEvent.idPrePlanItem}">
                    <td>#{{ op.code }} {{ op.name }}</td>
                    <td>{{ op.containerCode }}</td>
                    <td>{{ op.timeStartPreparation | date:'mediumDate' }} {{ op.timeStartPreparation | date:'shortTime' }}</td>
                    <td>{{ op.timeEnd | date:'mediumDate' }} {{ op.timeEnd | date:'shortTime' }}</td>
                </tr>
            </table>
            <dx-button class="mr-2" icon="key" text="{{ plannedEvent.isLocked ? 'Odkleni' : 'Zakleni' }}" (onClick)='onToggleLock(plannedEvent)'></dx-button>
            <dx-button class="mr-4" icon="edit" text="Uredi" (onClick)='updateAppointment(plannedEvent)'></dx-button>
            <dx-button icon="trash" type="danger" text="Izbriši" (onClick)='deleteAppointment(plannedEvent)'></dx-button>
        </div>
    </div>

</dx-scheduler>