
::ng-deep .dx-scheduler-appointment-content{    
    padding: 0px;
    margin: 0px;
}
/*
https://community.devexpress.com/blogs/aspnet/archive/2017/11/13/html5-javascript-scheduler-improvements-v17-2.aspx
*/
::ng-deep #scheduler .dx-scheduler-cell-sizes-vertical  {
    height: 100px;
}

::ng-deep #scheduler .dx-scheduler-group-header  {
    height: 100px;
}


.cellDurationContainer{
    float: right;
    width: 250px;    
  }

::ng-deep .allowed {
    background-color: #bfd9f0;
    font-size: 1.2rem !important;   
    border-left:5px solid #a8cef0 !important;
    transition: all 0.1s
}
