<!-- <button (click)="removeBlankSpace()" class="btn btn-success" type="button">Zgosti</button> -->
<div class="cellDurationContainer" [hidden]="!visible">
    <div></div>
    <div class="dx-field">
        <div class="dx-field-label">Dolžina celice</div>
        <div class="dx-field-value">
            <dx-select-box [(ngModel)]="cellDuration" [dataSource]="cellDurations" style="margin: 2px;">
            </dx-select-box>
        </div>
    </div>   
</div>

<button type="button" (click)="removeBlankSpace()" class="btn btn-primary">Zgoščevanje</button>     
<button type="button" class="btn btn-primary">Masovno zaklepanje</button>     

<div class="alert alert-primary" role="alert" *ngIf="schedulerResources.length == 0;" style="margin: 2px; text-align: center; color: #084578; background-color: #F0F2EF; border-color: #F0F2EF;">
    Za prikaz koledarja izberite eno ali več delovnih mest
</div>
<dx-scheduler id="scheduler" 
    [dataSource]="data"
    [views]="['day', 'week', 'timelineDay']" 
    [(currentView)]="currentView"         
    [groups]="['containerId']" 
    [resources]="schedulerResources"
    [currentDate]="currentDate"        
    [crossScrollingEnabled]="true" 
    [(cellDuration)]="cellDuration"
    [visible] = "visible"
    appointmentTemplate="appointment-template" 
    (onOptionChanged)="optionChanged($event)"
    (onContentReady)="onContentReady($event)" 
    (onAppointmentUpdating)="onAppointmentUpdating($event)"
    (onAppointmentDeleting)="onAppointmentDeleting($event)"
    (onAppointmentAdding)="onAppointmentAdding($event)"
    (onAppointmentFormCreated)="onAppointmentFormCreated($event)"
    (onCellClick)="onCellClick($event)"
    appointmentTooltipTemplate="tooltip-template">
   
    <div *dxTemplate="let plannedEvent of 'appointment-template'">
            <app-plan-viewer-item [plannerItemData]="plannedEvent"></app-plan-viewer-item>           
    </div>

    <div *dxTemplate="let plannedEvent of 'tooltip-template'">
        <div class='event-tooltip'>
            <dx-button class="mr-2" icon="key" text="{{ plannedEvent.isLocked ? 'Odkleni' : 'Zakleni' }}" (onClick)='toggleLock(plannedEvent)'></dx-button>
            <dx-button class="mr-4" icon="edit" text="Uredi" (onClick)='updateAppointment(plannedEvent)'></dx-button>
            <dx-button icon="trash" type="danger" text="Izbriši" (onClick)='deleteAppointment(plannedEvent)'></dx-button>
        </div>
    </div>

</dx-scheduler>