<div class="mb-3">
    <div class="row">
        <div class="col-4">
            <dx-text-box
                [placeholder]="translate('Search_All')"
                [(value)]="searchValue"
                (onEnterKey)="onSearch()">
            </dx-text-box>
        </div>
        <div class="col">
            <dx-button [text]="translate('Search')" (click)="onSearch()" type="default"></dx-button>
        </div>
    </div>


    <!-- <input class="form-control w-50 mr-2 d-inline-block"
        (enter)

        type="text"
        placeholder=""> -->
    <!-- <button type="button" class="btn bg-kolektor-light text-kolektor d-inline-block" (click)="onSearch()">Išči</button> -->
</div>

<h5>{{translate('Workorders2')}}</h5>
<app-items-search *ngIf="searchItemStoreConfiguration !== null" [searchItemStoreConfiguration]="searchItemStoreConfiguration"></app-items-search>
<h5 class="mt-2">{{translate('Operations')}}</h5>
<app-planitems-search *ngIf="searchPlanItemStoreConfiguration !== null"
    (openInScheduler)="onOpenInScheduler($event)"
    [searchPlanItemStoreConfiguration]="searchPlanItemStoreConfiguration"></app-planitems-search>
