<div class="mb-3">
    <input class="form-control w-50 mr-2 d-inline-block" [(ngModel)]="searchValue" type="text" placeholder="Išči nalog, artikel, delovno mesto, status operacij ...">
    <button type="button" class="btn bg-kolektor-light text-kolektor d-inline-block" (click)="onSearch()">Išči</button>
</div>

<h5>Nalogi</h5>
<app-items-search *ngIf="searchItemStoreConfiguration !== null" [searchItemStoreConfiguration]="searchItemStoreConfiguration"></app-items-search>
<h5 class="mt-2">Operacije</h5>
<app-planitems-search *ngIf="searchPlanItemStoreConfiguration !== null" 
    (openInScheduler)="onOpenInScheduler($event)"
    [searchPlanItemStoreConfiguration]="searchPlanItemStoreConfiguration"></app-planitems-search>