<button style="padding:9px; color: #084578;" class="btn btn-light" (click)="processClick()">
        {{ selected ? translate('Remove_Selected') : translate('Select_All') }}
      </button>
      <div *ngIf="env.PlanItems_ExcelExport">
        <button style="padding:9px; margin-left: 4px" class="btn btn-custom-primary" (click)="onExportDataToExcel()">
          {{translate('Export_To_Excel')}}
        </button>
        <dx-popup height="auto" width="70%"
          class="popup"
          [width]="650"
          [height]="260"
          [showTitle]="true"
          title="{{translate('Export_Excel_Title')}}"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="popupVisible">
          <div *dxTemplate="let data of 'content'">
          <div style="margin-top: 15px;">
              <app-field label="{{translate('DateTime_From')}}">
                      <dx-date-box
                      [(value)]="dateTimeFrom"
                          type="datetime">
                      </dx-date-box>
              </app-field>
              <app-field label="{{translate('DateTime_To')}}">
                          <dx-date-box
                          [(value)]="dateTimeTo"
                              type="datetime">
                          </dx-date-box>
              </app-field>
              </div>
              <div class="text-right" style="margin-top: 20px;">
                      <button type="button" (click)="onCloseExport()"
                      class="btn btn-outline-secondary" style="margin-right: 5px;">{{translate('Cancel')}}</button>
                      <button type="button" (click)="onConfirmExportToExcel()" class="btn btn-success">{{translate('Confirm')}}</button>
              </div>
          </div>
        </dx-popup>
      </div>