<div *ngIf="pagination && showInfo" class="d-inline-block mr-2">
    Prikazanih {{ (pagination.pageSize * (pagination.page - 1)) + 1 }} do 
    {{ (pagination.pageSize * (pagination.page )) < pagination.totalCount ? (pagination.pageSize * (pagination.page )) : pagination.totalCount }} elementov 
    od {{ pagination.totalCount }}
  </div>

<ngb-pagination *ngIf="pagination" class="d-inline-block"
    [collectionSize]="pagination.totalCount"
    [pageSize]="pagination.pageSize"
    [page]="pagination.page"
    (pageChange)="onPageChange($event)"
    [rotate]="true" 
    [boundaryLinks]="true"
    [maxSize]="5">
  </ngb-pagination>

