<dx-toolbar class="toolbar-custom">
  <dxi-item location="auto" widget="dxButton" locateInMenu="never">
    <div>{{translate('Date_From')}}</div>
  </dxi-item>

  <dxi-item location="auto" widget="dxButton" locateInMenu="never" cssClass="toolbar-item-custom">
    <app-datebox
      (change)="setLimitDate($event)"
      [date]="limitDate$ | async">
    </app-datebox>
  </dxi-item>

  <dxi-item location="auto" 
    widget="dxCheckBox" 
    locateInMenu="auto" 
    cssClass="toolbar-item-custom"
    [options]="{ text: translate('Plan_hours'), value:planHoursSwitch$ | async, onValueChanged: plannHoursSwitchEvent }">
  </dxi-item>

  <dxi-item location="auto" 
    widget="dxCheckBox" 
    locateInMenu="auto" 
    cssClass="toolbar-item-custom"
    [options]="{ text: translate('Expand'), value:expandAllSwitch$ | async, onValueChanged: expandAllSwitchEvent }">
  </dxi-item>

  <dxi-item location="after" 
    widget="dxCheckBox" 
    locateInMenu="auto" 
    cssClass="toolbar-item-custom"
    [options]="{ text: translate('Workorders_In_Progress'), value:inProcessWoSwitch$ | async, onValueChanged: inProcessWoSwitchEvent }">
  </dxi-item>

  <dxi-item location="after" 
    widget="dxCheckBox" 
    locateInMenu="auto" 
    cssClass="toolbar-item-custom"
    [options]="{ text: translate('Current_Workorders'), value:currentWoSwitch$ | async, onValueChanged: currentWoSwitchEvent }">
  </dxi-item>
</dx-toolbar>

<app-plan-container-grid-operations
  id="operationGridContainer"
  [datasource]="planContainerGrid$ | async"
  [containers]="containers$ | async"
>
</app-plan-container-grid-operations>

<app-plan-item-grid-dialog [containers]="containers$ | async"></app-plan-item-grid-dialog>

<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#operationGridContainer' }"
    [visible]="loading$ | async"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"></dx-load-panel>
