
  <div class="row">
    <div class="col-xs-12">
      <div *ngFor="let filterElement of (filtersState$ | async).entities">

        <div *ngIf="filterElement.type === FilterTypeEnum.checkbox">
          <div>{{ filterElement.name }}</div>
          <app-filter-checkbox
            [filterValues]="filterElement.values"
            (add)="onFilterChange(filterElement.id, $event, false)"
            (remove)="onFilterChange(filterElement.id, $event, true)"
            >
          </app-filter-checkbox>

        </div>

        <div *ngIf="filterElement.type === FilterTypeEnum.autocomplete">

            <label>{{ filterElement.name }}</label>

            <app-filter-autocomplete
                    [filterValues]="filterElement.values"
                    [placeholder]="filterElement.name"
                    (add)="onFilterChange(filterElement.id, $event, false)"
                    (remove)="onFilterChange(filterElement.id, $event, true)">
            </app-filter-autocomplete>

        </div>
      </div>
    </div>
  </div>

