<div class="card mb-1" dx-draggable [dragData]="preplanitem">
  <div class="card-body p-3">
    <div class="row">
      <div class="col pr-0">
          <h6 class="card-title">#{{ preplanitem.subItem.code }} {{ preplanitem.subItem.name }}</h6>
          <h6 class="card-title text-muted">{{ preplanitem.item.name }}</h6>         
          <h6 class="card-subtitle text-muted">{{ preplanitem.item.product.code }} - {{ preplanitem.item.product.name }}</h6>
      </div>
      <div class="col-auto pl-1">
        <button (click)="reselectContainers()" type="button" class="btn btn-light mb-2"><fa-icon class="cursor-pointer" size="md" [icon]="calendarIcon"></fa-icon></button><br>
        <button (click)="showDeleteBatchPopup()" type="button" class="btn btn-light"><fa-icon class="cursor-pointer" size="md" [icon]="deleteIcon"></fa-icon></button>
      
      </div>
    </div>
    
  </div>
</div>

<app-popup 
  [(visible)]="isDeleteBatchPopupVisible"
  [cancelCallback]="closeDeleteBatchPopup"
  [confirmCallback]="confirmDeleteBatchPopup"
  width="300px"
  height="auto">
  <p>
    Izbrišem celotno šaržo?
  </p>
</app-popup>