<div class="card mb-1" style="height:300px">
  <div class="card-body pt-2 pl-2 pr-2 pb-1" style="font-size: 14px;">
    <h5 class="card-title">Izbira delovnih mest</h5>
    <div class="containers-container">
      <div class="top">
        <app-containers-list class="absolute" [header]="'Razpoložljiva delovna mesta'" [containers]="avalableContainers" (selected)="onSelected($event)"></app-containers-list>
      </div>
      <div>
        <div class="button-center">
          <button (click)="onAddItems()" type="button" class="btn btn-md btn-light mr-1 mb-1" [disabled]="!isAddingEnabled">
            <fa-icon class="cursor-pointer fa-2x" [icon]="rightArrowIcon" [size]="4"></fa-icon>
          </button>
        </div>
        <div class="button-center">
          <button (click)="onRemoveItems()" type="button" class="btn btn-md btn-light mr-1 mb-1" [disabled]="!isRemovingEnabled">
            <fa-icon class="cursor-pointer fa-2x" [icon]="leftArrowIcon"></fa-icon>
          </button>
        </div>
      </div>
      <div class="top">
        <app-containers-list class="absolute" [header]="'Izbrana delovna mesta'" [containers]="selectedContainers" (selected)="onDeSelected($event)"></app-containers-list>
      </div>
    </div>
  </div>
</div>