<!-- <nav class="navbar navbar-dark bg-kolektor fixed-top"> -->

<nav class="navbar navbar-expand navbar-dark bg-kolektor fixed-top py-0">
  <span class="navbar-brand mb-0 h1 text-kolektor-light">
    <span>SinaproScheduler </span>
  </span>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul *ngIf="isLoggedIn" class="navbar-nav ">
      <li class="nav-item nav-link" *ngFor="let item of navigation">
        <a
          class="nav-link"
          [routerLink]="item.link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.exact }"
        >
          {{ item.name }}
        </a>
      </li>

      <!--
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a>
      -->
    </ul>
  </div>
  <div *ngIf="env.Menu_Plan_Selector && isLoggedIn" class="mr-auto">
    <app-plans></app-plans>
  </div>
  <a style="margin-left: 20px" *ngIf="isLoggedIn" class="logout" [routerLink]="['/auth/settings']">{{translate('Settings')}}</a>
  <a style="margin-left: 20px" *ngIf="isLoggedIn" class="logout" [routerLink]="['/auth']">{{translate('Logout')}}</a>

  <!--
    <div class="nav">
            <a *ngFor="let item of navigation" [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: item.exact }">
                    {{ item.name }}
            </a>
    </div>
  -->
</nav>
<!-- </nav> -->

<router-outlet></router-outlet>
<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.1)"
    [position]="{ of: '#overlay' }"
    [visible]="loader$ | async"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="false"
    [closeOnOutsideClick]="false">
</dx-load-panel>

<div *ngIf="loader$ | async" style="position: absolute; height: 100%; width: 100%; top: 0; left: 0;" id="overlay"></div>
