<app-popup
  height='auto'
  width='600px'
  [hasConfirmBtn]="true"
  [hasCancelBtn]="true"
  [title]="translate('TimeChange')"
  [visible]="visible"
  [confirmCallback]="onSubmit"
  [cancelCallback]="onCancel"
  >

<div [formGroup]="form">
  <div class="dx-fieldset">
    <div class="dx-field">
        <div class="dx-field-label">{{ translate('Operation') }}</div>
        <div class="dx-field-value">
            <dx-radio-group
              itemTemplate="radio"
              valueExpr="id"
              [items]="planItemChangeOptions"
              formControlName="planItemChange">
                <div *dxTemplate="let data of 'radio'">
                  {{ data.text }} <br>
                  <strong *ngIf="data.start && dayPlan">{{ data.start | date }} - {{ data.end | date }}</strong>
                  <strong *ngIf="data.start && !dayPlan">{{ data.start | date }} {{ data.start | date:'shortTime' }} - {{ data.end | date }} {{ data.end | date:'shortTime' }}</strong>
                </div>
            </dx-radio-group>
        </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">{{ translate('SnapForwardOperations') }}</div>
      <div class="dx-field-value">
        <dx-check-box formControlName="itemChange"></dx-check-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">{{ translate('Fix_Plan_Item') }}</div>
      <div class="dx-field-value">
        <dx-check-box formControlName="fixPlanItem"></dx-check-box>
      </div>
    </div>
    <div class="dx-field">
      <div style="width:60%" class="dx-field-label">{{ translate('ContainerSyncMove') }}</div>
      <div style="width:40%" class="dx-field-value">
        <dx-check-box formControlName="containerMoveSync"></dx-check-box>
      </div>
    </div>
  </div>
</div>



  <!-- <div *ngIf="changeData">
    {{ changeData.operation.code }}
  </div> -->


</app-popup>
