<app-popup
  title="Planiraj delovni nalog"
  [(visible)]="popupVisible"
  [cancelCallback]="hidePlanInfo"
  [confirmCallback]="onConfirm"
  >
  
  <div *ngIf="selectedPlanItemHierarchy && selectedPlanItemHierarchy!.planItem">
    <div class="row">
      <app-fieldset header="Delovni nalog" class="col">
        <app-field label="Šifra" [isStatic]="true">
            {{ selectedPlanItemHierarchy!.planItem.code }}
        </app-field>
        <app-field label="Artikel" [isStatic]="true">
            {{ selectedPlanItemHierarchy!.planItem.article.code }} - 
            {{ selectedPlanItemHierarchy!.planItem.article.name }}
        </app-field>
      </app-fieldset>

      <app-fieldset header="ERP" class="col">
        <app-field label="Količina" [isStatic]="true">
            {{ selectedPlanItemHierarchy!.planItem.quantity }} {{ selectedPlanItemHierarchy!.planItem.measurementUnit.code }}
        </app-field>
        <app-field label="Datum" [isStatic]="true">
            {{ selectedPlanItemHierarchy!.planItem.limitDateFrom | date:'mediumDate' }} -  
            {{ selectedPlanItemHierarchy!.planItem.limitDateTo | date:'mediumDate' }}      
        </app-field>
      </app-fieldset>
    </div>

    <form (ngSubmit)="onSubmit()" #f="ngForm" id="ngForm">
      <div id="batch-data" ngModelGroup="batchData" #batchData="ngModelGroup">

        <div class="row">
          <app-fieldset header="Planiranje delovnega naloga" class="col-6">
            <app-field label="Količina">
              <input 
                type="number" 
                class="form-control" 
                id="quantity" 
                required 
                [(ngModel)]="formModel.batchQuantity" 
                name="quantity" 
                #quantityRef="ngModel">
            </app-field>

            <app-field label="Število šarž">
              <input 
                type="number" 
                class="form-control" 
                id="numberOfBatches" 
                required 
                [(ngModel)]="formModel.batchCount" 
                name="numberOfBatches" 
                #numberOfBatchsRef="ngModel">
            </app-field>

            <app-field label="Alternativa">
              <dx-select-box 
                [dataSource]="selectedPlanItemHierarchy!.alternativeOptions" 
                name="alternative" 
                valueExpr="id"
                displayExpr="name" 
                placeholder="Izberi alternativo" 
                [showClearButton]="true" 
                required 
                [(ngModel)]="selectedAlternativeId">
              </dx-select-box>
            </app-field>

          </app-fieldset>
        </div>
        <div class="row">
          <app-fieldset class="col">
            <app-alternative 
              *ngIf="alternatives && selectedAlternativeId" 
              [alternative]="getSelectedAlternative()">
            </app-alternative>
          </app-fieldset>

        </div>

      </div>
    </form>
  </div>
</app-popup>