<dx-data-grid
[columnAutoWidth]="true"
    id="plan-item-grid-container"
    [dataSource]="items"
    [keyExpr]="'item.idItem'"
    [allowColumnReordering]="true"
    [masterDetail]="{ enabled: true, template: 'detail', autoExpandAll: false }"
    [showBorders]="true"
    (onCellPrepared)="applyCellStyles($event)"
    (onRowExpanding)="rowExpanded($event)"
    (onRowCollapsing)="rowCollapsed($event)"
    (onContentReady)="onContentReady($event)">

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing
    mode="cell"
    [allowUpdating]="true"></dxo-editing>

    <!-- <dxi-column dataField="item.idItem"></dxi-column> -->

    <dxi-column [allowEditing]="false" dataField="item.itemCode" caption="{{translate('Workorder')}}"></dxi-column>
    <dxi-column [allowEditing]="false" dataField="item.articleCode" caption="{{translate('Code_2')}}"></dxi-column>
    <dxi-column [allowEditing]="false" dataField="item.articleName" caption="{{translate('Name')}}"></dxi-column>
    <dxi-column [allowEditing]="false" dataField="item.quantity" caption="{{translate('Quantity')}}"></dxi-column>
    <dxi-column [allowEditing]="false" dataField="item.quantityMeasurementUnit" caption="EM"></dxi-column>

    <dxi-column [allowEditing]="false"
      [caption]="translate('Planning_status')"
      [calculateCellValue]="calculatePlanStatus"
    ></dxi-column>
    <!-- <dxi-column dataField="item.itemPlanStatus">
      <dxo-lookup
            [dataSource]="itemPlanStatuses"
            displayExpr="Name"
            valueExpr="ID">
          </dxo-lookup>
    </dxi-column> -->
    <!-- <dxi-column dataField="item.itemExecutionStatus" caption="Izvajanje">
      <dxo-lookup
            [dataSource]="executionStatuses"
            displayExpr="Name"
            valueExpr="ID">
          </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="item.priority" caption="Prioriteta" [allowEditing]="true">
      <dxo-lookup
            [dataSource]="priorities"
            displayExpr="Name"
            valueExpr="ID">
          </dxo-lookup>
    </dxi-column> -->
    <dxi-column [allowEditing]="false" dataField="item.published" caption="Lansiran" dataType="datetime"></dxi-column>
    <!-- <dxi-column [allowEditing]="false" dataField="item.lastUpdate" dataType="datetime"></dxi-column> -->

    <div *dxTemplate="let planItemGrid of 'detail'">

      <app-plan-item-grid-operations
        (updateItem)="updateItem()"
        [operations]="planItemGrid.data.operations"
        [item]="planItemGrid.data.item"
        [containers]="containers">
      </app-plan-item-grid-operations>

      <div class="sub-table" *ngIf="planItemGrid.data.packingItems && planItemGrid.data.packingItems.length > 0">
        <strong class="sub-table-header">{{translate('Parent_Orders')}}</strong>
        <app-plan-item-grid-items [items]="planItemGrid.data.packingItems"
          [containers]="containers"
          [enableGrouping]="false"
          [enableSearch]="false"
          ></app-plan-item-grid-items>
      </div>

      <div class="sub-table" *ngIf="planItemGrid.data.productionItems && planItemGrid.data.productionItems.length > 0">
        <strong class="sub-table-header">{{translate('Linked_Plan_Item')}}</strong>
        <app-plan-item-grid-items [items]="planItemGrid.data.productionItems"
          [containers]="containers"
          [enableGrouping]="false"
          [enableSearch]="false"
          ></app-plan-item-grid-items>
      </div>
  </div>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
    </dxo-pager>
    <dxo-search-panel [visible]="enableSearch"></dxo-search-panel>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-group-panel [visible]="enableGrouping"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
</dx-data-grid>
