::ng-deep .dx-row.dx-data-row {
  background-color: #e6e6fa;

}

::ng-deep .dx-master-detail-row .dx-row.dx-data-row {
  background-color: transparent;
}

.sub-table {
  margin-top: 12px;
}

.sub-table-header {
  margin-bottom: 5px;
}



