::ng-deep #plan-item-grid-container .dx-row.dx-data-row {
  background-color: #e6e6fa;

}

::ng-deep #plan-item-grid-container .dx-master-detail-row .dx-row.dx-data-row {
  background-color: transparent;
}

.sub-table {
  margin-top: 12px;
  margin-left: 20px;
  margin-right: 15px;

}

.sub-table-header {
  margin-bottom: 5px;
}


.operations {
  margin-left: 10px;
}
