<dx-tab-panel #tabPanel [dataSource]="timeTablesTypes" [selectedIndex]="0">

    <div *dxTemplate="let schedule of 'title'">
        <span>{{schedule.name}}</span>
    </div>

    <div *dxTemplate="let schedule of 'item'">
        <div class="tabpanel-item">
            <p>edit {{schedule.id}}</p>
            <div *ngFor="let timeTableEvent of timeTables, let i=index">
                <ul>
                    <div *ngIf="timeTableEvent.idTimeTableType===schedule.id">
                        <app-timetable-event (edit)="onEdit($event)" [timeTableEvent]="timeTableEvent" [index]="i+1">
                        </app-timetable-event>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div class="item-box">
        {{timeTableEvent | json}}
        <span>{{tabPanel.selectedIndex + 1}}</span>
    </div>
    <div *dxTemplate="let schedule of 'customTemplate'">
        <div class="tabpanel-item">
            <div>
                custom template
            </div>
        </div>
    </div>
</dx-tab-panel>