.toolbar {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  margin: 2px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.toolbar-icons {
  margin-left: auto;
}
.toolbar-desc {
  padding-left: 10px;
}

.tt_container {
  width: 800px;
}

.toolbar:not(.active):hover {
  background-color: #f8f9fa;
}

.title {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
