<dx-data-grid id="gridContainer" [dataSource]="timeTables" (onToolbarPreparing)="onToolbarPreparing($event)">
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30]" [showInfo]="true" [showNavigationButtons]="true">
  </dxo-pager>


  <dxi-column caption="{{translate('Scheduler_Name')}}" dataField="name"></dxi-column>
  <dxi-column caption="{{translate('Timetable_Type')}}" dataField="idTimeTableType" cellTemplate="timeTableType"></dxi-column>
  <dxi-column caption="{{translate('Rule')}}" dataField="recurrenceRule" cellTemplate="rruleTemplate"></dxi-column>
  <dxi-column caption="{{translate('Event_From')}}" dataField="timeStart" cellTemplate="dateCellTemplate" [width]="150"></dxi-column>
  <dxi-column caption="{{translate('Event_To')}}" dataField="timeEnd" cellTemplate="dateCellTemplate" [width]="150"></dxi-column>

  <dxi-column alignment="center" dataField="" cellTemplate="removeCelltemplate" [width]="100"></dxi-column>
  <dxi-column alignment="center" dataField="" cellTemplate="editCelltemplate" [width]="100"></dxi-column>

  <!--<dxi-column alignment="center" [allowFiltering]="false" dataField="" cellTemplate="selectCellTemplate" [width]="100"></dxi-column>-->

  <div *dxTemplate="let cell of 'timeTableType'">
    {{ cell.displayValue === 1 ? "delovni" : "nedelovni" }}
  </div>

  <div *dxTemplate="let cell of 'rruleTemplate'">
    {{ cell.displayValue | rruletotext }}
  </div>

  <div *dxTemplate="let cell of 'dateCellTemplate'">
    {{ cell.displayValue | date:'mediumDate' }} {{ cell.displayValue | date:'shortTime' }}
  </div>

  <div *dxTemplate="let cell of 'editCelltemplate'">
    <a class="span-link" (click)="onSelect(cell.data)">{{translate('Edit')}}</a>
  </div>

  <div *dxTemplate="let cell of 'removeCelltemplate'">
    <a class="span-link" (click)="onRemove(cell.data)">{{translate('Delete_Short')}}</a>
  </div>

  <div *dxTemplate="let data of 'header'">
    <div class="informer">
      <h5 class="name">{{translate('Event_Overview')}}</h5>
    </div>
  </div>
</dx-data-grid>
<app-schedule-event (create)="onCreate($event)" (update)="onUpdate($event)"></app-schedule-event>