<!-- <ng-select
  [items]="filterValues"
  [multiple]="true"
  [closeOnSelect]="false"
  bindLabel="name"
  bindValue="id"
  [placeholder]="placeholder"
  [(ngModel)]="selectedValues"
  (add)="onChange($event.id, false)"
  (remove)="onChange($event.value.id, true)">
</ng-select> -->

<dx-drop-down-box
  [showClearButton]="true"
  [dataSource]="filterValues"
  [(value)]="selectedValues"
  [showClearButton]="false"
  valueExpr="id"
  displayExpr="displayName"
  (onValueChanged)="syncListSelection()"
  >
  <div *dxTemplate="let contentData of 'content'">
    <dx-list
      [dataSource]="filterValues"
      [selectedItemKeys]="selectedValues"
      keyExpr="id"
      selectionMode="multiple"
      [showSelectionControls]="true"
      itemTemplate="listItem"
      (onContentReady)="syncListSelection()"
      (onSelectionChanged)="onChange($event)">
        <div *dxTemplate="let item of 'listItem'">
            <div style="white-space: normal" data-bind="text: text">{{item.displayName}}</div>

        </div>
    </dx-list>
</div>
</dx-drop-down-box>
