
<dx-scroll-view>
  <ul class="nav nav-pills flex-column">
  <li *ngIf="settings.Menu_Scheduler_Filters" class="nav-item">

    <a href="#" class="nav-link" (click)="selected = selected === 'filters' ? '' : 'filters'; false;">
        <fa-icon [ngStyle]="(filterActive || containerFilterActive) && { 'color': 'orange' }" class="mr-3" size="lg" [icon]="faFilter"></fa-icon>
        {{translate("Filter")}}
      <i class="oi" [ngClass]="{'oi-caret-right': selected !== 'filters', 'oi-caret-bottom': selected === 'filters' }" style="font-size: small;"></i>
    </a>
    <div *ngIf="selected === 'filters'" class="mx-3 mb-3">
      <button *ngIf="filterActive || containerFilterActive" class="btn btn-secondary w-100" (click)="onFilterClear()">{{translate("Clear_Filter")}}</button>

      <app-filters></app-filters>

    </div>
  </li>

  <li *ngIf="settings.Menu_Scheduler_Groups" class="nav-item">
    <a class="nav-link" (click)="selected = 'groups'" routerLink='groups' routerLinkActive='active'>
        <fa-icon class="mr-3" size="lg" [icon]="faGroup"></fa-icon>{{translate("Groups")}}
    </a>
  </li>

  <li *ngIf="settings.Menu_Scheduler_Items" class="nav-item">
    <a class="nav-link" (click)="selected = 'workorders'" routerLink='planitems' routerLinkActive='active'>
      <fa-icon class="mr-3" style="padding-left:1px" size="lg" [icon]="faItems"></fa-icon> {{translate("Workorders")}}
    </a>
  </li>

  <li *ngIf="settings.Menu_Scheduler_Planner" class="nav-item">
    <a class="nav-link" (click)="selected = 'planner'" routerLink='planner' routerLinkActive='active'>
        <fa-icon class="mr-3" size="lg" [icon]="faPlanItems"></fa-icon> {{translate("Scheduling")}}
    </a>
  </li>

  <li *ngIf="settings.Menu_Scheduler_GridPlanner" class="nav-item">
    <a class="nav-link" (click)="selected = 'planner-item-grid'" routerLink='planitemgrid' routerLinkActive='active'>
        <fa-icon class="mr-3" size="lg" [icon]="faPlanItems"></fa-icon> Razpored nalogov
    </a>
  </li>

  <li *ngIf="settings.Menu_Scheduler_GridPlanner" class="nav-item">
    <a class="nav-link" (click)="selected = 'planner-container-grid'" routerLink='plancontainergrid' routerLinkActive='active'>
        <fa-icon class="mr-3" size="lg" [icon]="faPlanItems"></fa-icon> Razpored delovnih mest
    </a>
  </li>

  <li *ngIf="settings.Menu_Scheduler_Searcher" class="nav-item">
    <a class="nav-link" (click)="selected = 'searcher'" routerLink='search' routerLinkActive='active'>
        <fa-icon class="mr-3" size="lg" [icon]="faSearch"></fa-icon> {{translate("Search_Engine")}}
    </a>
  </li>
  <li><div class="mx-3 mt-2"><container-item-quick-plan></container-item-quick-plan></div></li>
  <li><hr class="mb-1 mt-2"></li>
  <li *ngIf="settings.Menu_Scheduler_Planner">

        <!-- <dx-scroll-view #scrollElement [height]="getScrollHeight(scrollElement.element)"> -->
            <div class="mx-2">
              <app-preplanitems></app-preplanitems>
          </div>
        <!-- </dx-scroll-view> -->
  </li>
</ul>
</dx-scroll-view>

