<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a href="#" class="nav-link" (click)="selected = 'filters'; false">Filter
      <i class="oi" [ngClass]="{'oi-caret-right': selected !== 'filters', 'oi-caret-bottom': selected === 'filters' }" style="font-size: small;"></i>
    </a>
    <div *ngIf="selected === 'filters'" class="mx-3 mb-3">
      <app-filters></app-filters>
    </div>

  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="selected = 'groups'" routerLink='groups' routerLinkActive='active'>Skupine</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="selected = 'workorders'" routerLink='planitems' routerLinkActive='active'>Delovni nalogi</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="selected = 'planner'" routerLink='planner' routerLinkActive='active'>Razporejanje</a>
  </li>
  <li><hr></li>
  <li>
    <div class="mx-2 mt-1">
        <app-pre-planitem-list></app-pre-planitem-list>
    </div>
    
  </li>
</ul>