<ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink='filters' routerLinkActive='active'>Filter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='groups' routerLinkActive='active'>Skupine</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='planitems' routerLinkActive='active'>Delovni nalogi</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='planner' routerLinkActive='active'>Razporejanje</a>
    </li>
  </ul>
