<!-- <div class="plannerItemContainer"> -->
  <!-- <div class="progressWrapper">
          <div class="progressInfo">45%</div>          
  </div>                 -->
  <!-- <div class="plannerItem"> -->
    <div class="py-1 pl-2 pr-1 d-flex appointment" [ngClass]="viewName">
      <div class="flex-grow-1" style="min-width: 0; overflow: hidden;">
        <div class="d-flex flex-column">
          <div *ngIf="!settings.PlanItem_DisplayOperationFirst">
            <div class="white-text font-weight-bold">
              {{ settings.PlanItem_DisplayArticleCode ? plannerItemData.articleCode : plannerItemData.articleName }} | 
              {{ plannerItemData.itemName }}
            </div>
            <div>#{{ plannerItemData.subItemCode }} {{ plannerItemData.subItemName}}</div>
          </div>
          <div *ngIf="settings.PlanItem_DisplayOperationFirst">
            <div class="white-text font-weight-bold">
              #{{ plannerItemData.subItemCode }} {{ plannerItemData.subItemName}}
            </div>
            <div>
              {{ settings.PlanItem_DisplayArticleCode ? plannerItemData.articleCode : plannerItemData.articleName }} | 
              {{ plannerItemData.itemName }}
            </div>  
          </div>        
          <div>{{ plannerItemData!.startDate | date:'shortTime' }} - {{ plannerItemData!.endDate | date:'shortTime' }}</div>
        </div>
      </div> 
      <div style="font-size: 12px;" class="flex-shrink-1">
        <div >
            <span class="badge badge-light text-kolektor" *ngIf="plannerItemData.itemTypeShortName" style="font-size: 11px;" >{{ plannerItemData.itemTypeShortName }}</span>
            <span *ngIf="plannerItemData.itemTypeShortName && plannerItemData.isLocked" class="ml-1"></span>
            <span *ngIf="plannerItemData.isLocked"><fa-icon [icon]="faLock"></fa-icon></span>
            <span *ngIf="(plannerItemData.itemTypeShortName || plannerItemData.isLocked) && plannerItemData.sequenceWarning" class="ml-1"></span>
            <span *ngIf="plannerItemData.sequenceWarning"><fa-icon [icon]="faWarning"></fa-icon></span>
            <span *ngIf="plannerItemData.linkedItemSequenceWarning"><fa-icon [icon]="faWarning"></fa-icon></span>
            <span *ngIf="(plannerItemData.itemTypeShortName || plannerItemData.isLocked || plannerItemData.sequenceWarning) && plannerItemData.isInNotWorkingHours" class="ml-1"></span>
            <span *ngIf="plannerItemData.isInNotWorkingHours"><fa-icon [icon]="faExclamation"></fa-icon></span>
          </div>

      </div>

    </div>



    <!-- <div class="m-2">
      <h6 class="white-text">#{{ plannerItemData.subItemCode }} {{ plannerItemData.subItemName}}</h6>
      <div>{{ plannerItemData.itemName }} | {{ plannerItemData.articleCode }} </div>
      <div>{{ plannerItemData!.startDate | date:'shortTime' }} - {{ plannerItemData!.endDate | date:'shortTime' }}</div>
    </div> -->
  <!-- </div> -->
  <!-- <div class="info pull-right mt-2 mr-2 text-center">
      <div *ngIf="plannerItemData.isLocked"><fa-icon [icon]="faLock"></fa-icon></div>
      
      <div *ngIf="plannerItemData.sequenceWarning"><fa-icon [icon]="faWarning"></fa-icon></div>
      <div *ngIf="plannerItemData.isInNotWorkingHours"><fa-icon [icon]="faExclamation"></fa-icon></div>
  </div> -->
<!-- 
</div> -->