<dx-toolbar>
  <dxi-item location="auto" 
    widget="dxButton" 
    locateInMenu="never">
    <div *dxTemplate>
      <div>{{translate('Date_From')}}</div>
    </div>        
  </dxi-item>
  <dxi-item location="auto" 
    widget="dxDateBox"
    locateInMenu="auto"  
    [options]="{ value:limitDate$ | async, onValueChanged: setLimitDate }">
  </dxi-item>
  
  <dxi-item location="auto" 
    widget="dxCheckBox" 
    locateInMenu="auto" 
    [options]="{ text: translate('Plan_hours'), value:planHoursSwitch$ | async, onValueChanged: plannHoursSwitchEvent }">
  </dxi-item>
  
  <dxi-item location="auto" 
    widget="dxCheckBox" 
    locateInMenu="auto" 
    [options]="{ text: translate('Expand'), value:expandAllSwitch$ | async, onValueChanged: expandAllSwitchEvent }">
  </dxi-item>
</dx-toolbar>

<div style="margin-bottom: 10px;"></div>

<app-plan-container-grid-operations
  id="operationGridContainer"
  [datasource]="planContainerGrid$ | async"
  [containers]="containers$ | async"
>

</app-plan-container-grid-operations>

<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#operationGridContainer' }"
    [visible]="loading$ | async"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"></dx-load-panel>
