
<div style="width:400px">
  <div class="dx-field">
      <div class="dx-field-label">{{translate('Plan_hours')}}</div>
      <div class="dx-field-value">
          <dx-check-box (onValueChanged)="plannedHoursSwitch($event)" [value]="planHoursSwitch$ | async"></dx-check-box>
      </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">{{translate('Date_From')}}</div>
    <div class="dx-field-value" style="width:auto;">
      <app-datebox (change)="setLimitDate($event)" [date]="limitDate$ | async"></app-datebox>
    </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">{{translate('Expand')}}</div>
    <div class="dx-field-value">
        <dx-check-box (onValueChanged)="expandAllSwitch($event)" [value]="expandAllSwitch$ | async"></dx-check-box>
    </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">{{translate('Export_To_Excel')}}</div>
    <div class="dx-field-value">
        <dx-check-box (onValueChanged)="expandAllSwitch($event)" [value]="expandAllSwitch$ | async"></dx-check-box>
    </div>
  </div>

</div>


<div style="margin-bottom: 10px;"></div>

<app-plan-container-grid-operations
  id="operationGridContainer"
  [datasource]="planContainerGrid$ | async"
  [containers]="containers$ | async"
>

</app-plan-container-grid-operations>

<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#operationGridContainer' }"
    [visible]="loading$ | async"
    [showIndicator]="true"
    [showPane]="true"
    [shading]="true"
    [closeOnOutsideClick]="false"></dx-load-panel>
