<dx-data-grid 
  [columnAutoWidth]="true" 
  [allowColumnResizing]="true" 
  columnResizingMode="nextColumn" 
  id="gridContainer" 
  [dataSource]="store"
  [showRowLines]="true" 
  [rowAlternationEnabled]="true">

  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-remote-operations 
    [filtering]="true" 
    [sorting]="false" 
    [grouping]="false" 
    [paging]="true" 
    [summary]="false">
  </dxo-remote-operations>

  <dxo-paging [pageSize]="15"></dxo-paging>
  <dxo-pager 
    [showPageSizeSelector]="true" 
    [allowedPageSizes]="[10, 15, 30]" 
    [showInfo]="true" 
    [showNavigationButtons]="true">
  </dxo-pager>

  <dxi-column caption="Nalog">
    <dxi-column dataField="name" caption="Koda"></dxi-column>
    <dxi-column dataField="itemProgresses[0].quantityPlanned" cellTemplate="quantityPlannedCellTemplate" caption="Planirana količina"></dxi-column>
    <dxi-column dataField="measurementUnit.code" caption="EM"></dxi-column>
  </dxi-column>
  <dxi-column caption="Artikel">
    <dxi-column dataField="article.code" caption="Šifra"></dxi-column>
    <dxi-column dataField="article.name" caption="Naziv"></dxi-column>
  </dxi-column>
  <dxi-column caption="ERP">
    <dxi-column dataField="quantity" caption="Količina"></dxi-column>
    <dxi-column dataField="measurementUnit.code" caption="EM"></dxi-column>
    <dxi-column dataField="limitDateFrom" dataType="date" caption="Datum od" cellTemplate="dateCellTemplate"></dxi-column>
    <dxi-column dataField="limitDateTo" dataType="date" caption="Datum do" cellTemplate="dateCellTemplate"></dxi-column>
  </dxi-column>
  <dxi-column alignment="center" dataField="" cellTemplate="planCellTemplate"></dxi-column>
  
  <div *dxTemplate="let cell of 'planCellTemplate'">
    <a class="span-link" (click)="onSelectItem(cell.data)">Planiraj</a>
  </div>

  <div *dxTemplate="let cell of 'dateCellTemplate'">
    {{ cell.displayValue | date:'mediumDate' }} {{ cell.displayValue | date:'shortTime' }}
  </div>

  <div *dxTemplate="let cell of 'quantityPlannedCellTemplate'">
    {{ cell.displayValue ? cell.displayValue : 0 }}
  </div>
</dx-data-grid>