<div class="row align-middle">
  <div class="col"><span class="border-left">{{ planItem.code }}</span>
  </div>
  <div class="col"><span class="border-left"> {{ planItem.quantity | number:'1.3-3' }}</span>   
  </div>
  <div class="col"><span class="border-left">{{ planItem.quantityBatch | number:'1.3-3' }}</span>    
  </div>
  <div class="col"><span class="border-left">{{ planItem.quantityPlanned | number:'1.3-3' }}</span>    
  </div>
  <div class="col"><span class="border-left">{{ planItem.measurementUnit.code }}</span>    
  </div>
  <div class="col"><span class="border-left">{{ planItem.product.name }}</span>    
  </div>
  <div class="col"><span class="border-left"> {{ planItem.product.code }}</span>   
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.limitDateFrom | date:'short' }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.limitDateTo | date:'short' }}
  </div>
</div>