<div class="row">
  <div class="col"><span class="border-left">{{ planItem.code }}</span>

  </div>
  <div class="col"><span class="border-left">{{ planItem.code }}</span>

  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.quantity }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.quantityBatch }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.quantityPlanned }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.measurementUnit.code }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.product.name }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.product.code }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.limitDateFrom }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.limitDateTo }}
  </div>
