<div class="row align-middle">
  <div class="col"><span class="border-left">{{ planItem.code }}</span>

  </div>
  <div class="col"><span class="border-left">{{ planItem.code }}</span>

  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.quantity }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.quantityBatch }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.quantityPlanned }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.measurementUnit.code }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.product.name }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.product.code }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.limitDateFrom | date:'short' }}
  </div>
  <div class="col"><span class="border-left"></span>
    {{ planItem.limitDateTo | date:'short' }}
  </div>
