<div class="container-fluid">
  <div class="row">
    <div class="col">
      <dx-data-grid [columnAutoWidth]="true" [allowColumnResizing]="true" columnResizingMode="nextColumn" id="gridContainer" [dataSource]="planItemsStore"
        [showRowLines]="true" [rowAlternationEnabled]="true">
        <!-- [dataSource]="(planItemState$ | async).entities" -->

        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <dxo-remote-operations [filtering]="true" [sorting]="false" [grouping]="false" [paging]="true" [summary]="false">
        </dxo-remote-operations>
        <!-- 
        <dxo-filter-row [visible]="true">
        </dxo-filter-row> -->
        <dxo-paging [pageSize]="12"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[8, 12, 20]" [showInfo]="true" [showNavigationButtons]="true">
        </dxo-pager>

        <dxi-column dataField="code" caption="Šifra naloga"></dxi-column>
        <dxi-column dataField="" caption="Vrsta proizvodnje"></dxi-column>

        <dxi-column caption="Artikel">
          <dxi-column dataField="article.code" caption="Šifra"></dxi-column>
          <dxi-column dataField="article.name" caption="Naziv"></dxi-column>
        </dxi-column>

        <dxi-column caption="ERP">
          <dxi-column dataField="quantity" caption="Količina"></dxi-column>
          <dxi-column dataField="measurementUnit.code" caption="EM"></dxi-column>
          <dxi-column dataField="limitDateFrom" dataType="date" caption="Datum od" cellTemplate="dateCellTemplate"></dxi-column>
          <dxi-column dataField="limitDateTo" dataType="date" caption="Datum do" cellTemplate="dateCellTemplate"></dxi-column>
        </dxi-column>

        <dxi-column alignment="center" dataField="" cellTemplate="planCellTemplate"></dxi-column>

        <div *dxTemplate="let cell of 'planCellTemplate'">
          <span class="span-link" (click)="showPlanInfo(cell.data)">Planiraj</span>
        </div>
        <div *dxTemplate="let cell of 'dateCellTemplate'">
          {{ cell.displayValue | date:'mediumDate' }} {{ cell.displayValue | date:'shortTime' }}
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<dx-popup title="Planiraj delovni nalog" 
[dragEnabled]="false" 
[closeOnOutsideClick]="true" 
[(visible)]="popupVisible">
    <!-- <dxi-toolbar-item 
    text="Planiraj delovni nalog">
  </dxi-toolbar-item> -->
    <dxi-toolbar-item 
      toolbar="bottom" 
      location="after" 
      widget="dxButton" 
      [options]="{ text: 'Prekliči', onClick: hidePlanInfo }">
    </dxi-toolbar-item>
    <dxi-toolbar-item 
      toolbar="bottom" 
      location="after" 
      widget="dxButton" 
      [options]="{ text: 'Potrdi', type: 'success', onClick: onSubmit }">
    </dxi-toolbar-item>
  
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view *ngIf="(selectedPlanItemHierarchy$ | async) && (selectedPlanItemHierarchy$ | async)!.planItem">

      <div class="row">
        <div class="dx-fieldset col">
          <div class="dx-fieldset-header">Delovni nalog</div>
          <div class="dx-field">
            <div class="dx-field-label">Šifra</div>
            <div class="dx-field-value-static">{{ (selectedPlanItemHierarchy$ | async)!.planItem.code }}</div>
          </div>
          <div class="dx-field">
              <div class="dx-field-label">Artikel</div>
              <div class="dx-field-value-static">{{ (selectedPlanItemHierarchy$ | async)!.planItem.article.code }} - 
                {{ (selectedPlanItemHierarchy$ | async)!.planItem.article.name }}</div>
          </div>
        </div>
        <div class="dx-fieldset col">          
            <div class="dx-fieldset-header">ERP</div>
            <div class="dx-field">
              <div class="dx-field-label">Količina</div>
              <div class="dx-field-value-static">{{ (selectedPlanItemHierarchy$ | async)!.planItem.quantity }} 
                {{ (selectedPlanItemHierarchy$ | async)!.planItem.measurementUnit.code }}</div>
            </div>
            <div class="dx-field">
              <div class="dx-field-label">Datum</div>
              <div class="dx-field-value-static">{{ (selectedPlanItemHierarchy$ | async)!.planItem.limitDateFrom | date:'mediumDate' }} - 
                {{ (selectedPlanItemHierarchy$ | async)!.planItem.limitDateTo | date:'mediumDate' }}</div>
            </div>  
          </div>
      </div>


      <!-- START Form Using DevExtremeShape -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div
        id="batch-data"
        ngModelGroup="batchData"
        #batchData="ngModelGroup">

        <div class="row">
          <div class="dx-fieldset col">
            <div class="dx-fieldset-header">Planiranje delovnega naloga</div>
            <div class="dx-field">
              <div class="dx-field-label">Količina</div>
              <div class="dx-field-value-static">
                <input 
                  type="number" 
                  class="form-control" 
                  id="quantity"
                  required
                  ngModel
                  name="quantity"
                  #quantityRef="ngModel">
              <span class="help-block" *ngIf="!quantityRef.valid && quantityRef.touched"><i>Prosimo vnesite količino</i></span>
            </div>
            </div>          
            <div class="dx-field">
                <div class="dx-field-label">Število šarž</div>
                <div class="dx-field-value-static">
                  <input 
                    type="number" 
                    class="form-control" 
                    id="numberOfBatches"
                    required
                    ngModel="numberOfBatches"
                    name="numberOfBatches"
                    #numberOfBatchsRef="ngModel">
                <span class="help-block" *ngIf="!numberOfBatchsRef.valid && numberOfBatchsRef.touched"><i>Prosimo vnesite število šarž</i></span>
              </div>
            </div>

            <div class="dx-field">
                <div class="dx-field-label">Alternativa</div>
                <div class="dx-field-value-static">
                  <dx-select-box [dataSource]="(selectedPlanItemHierarchy$ | async)!.alternativeOptions" 
                    formControlName="alternative"
                    valueExpr="id" 
                    displayExpr="name" 
                    placeholder="Izberi alternativo"
                    [showClearButton]="true" 
                    [value]="selectedAlternativeId"
                    (onValueChanged)="selectAlternative($event.value)"
                    [isValid]="!alternativeRef.valid && alternativeRef.touched"
                    #alternativeRef>
                  </dx-select-box>
                  <!-- <app-alternative *ngIf="alternatives && selectedAlternativeId" [alternative]="getSelectedAlternative()">
                  </app-alternative> -->
                <span class="help-block" *ngIf="!numberOfBatchsRef.valid && numberOfBatchsRef.touched"><i>Prosimo vnesite število šarž</i></span>
              </div>
            </div>

          </div>
          <div class="dx-fieldset col">          
              <div class="dx-fieldset-header"> </div>
              <div class="dx-field">
                <div class="dx-field-label"> </div>
                <div class="dx-field-value-static"> </div>
              </div>
              <div class="dx-field">
                <div class="dx-field-label"> </div>
                <div class="dx-field-value-static"> </div>
              </div>  
            </div>
        </div>    
        <div class="row">          
          <div class="dx-fieldset col">          
              <!-- <div class="dx-fieldset-header"> </div> -->
              <div class="dx-field">
                <!-- <div class="dx-field-label"> </div> -->
                <!-- <div class="dx-field-value-static">                  -->
                  <!-- <span class="help-block" *ngIf="!alternativeRef.valid && alternativeRef.touched"><i>Prosimo izberite alternativo</i></span> -->
                  <app-alternative *ngIf="alternatives && selectedAlternativeId" [alternative]="getSelectedAlternative()">
                  </app-alternative> 
                <!-- </div> -->
              </div>
            </div>
        </div>

        <div class="row">
          <div class="dx-fieldset col">
            <div class="dx-fieldset-header"> </div>
            <div class="dx-field">
              <div class="dx-field-label"> </div>
              <div class="dx-field-value-static"> 
                <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="!f.valid">Shrani
                </button>
                <button
                  class="btn btn-danger"
                  type="reset">Prekliči
                </button>
              </div>
            </div>          
          </div>
        </div>

      </div>
      <p *ngIf="!batchData.valid && batchData.touched"><i>Podatki niso pravilni</i></p>
      </form>
      <!-- END Form Using DevExtreme Shape -->
      
      

      <!-- START FORM -->
      <!-- <div class="dx-fieldset col">
        <div class="dx-fieldset-header">Planiranje delovnega naloga</div>
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div
            id="batch-data"
            ngModelGroup="batchData"
            #batchData="ngModelGroup">
            <div class="form-group">
              <label for="quantity">Količina</label>
              <input 
                type="number" 
                class="form-control" 
                id="quantity"
                required
                ngModel
                name="quantity"
                #quantityRef="ngModel">
              <span class="help-block" *ngIf="!quantityRef.valid && quantityRef.touched">Prosimo vnesite količino</span>
            </div>

            <div class="form-group">
              <label for="numberOfBatches">Število šarž</label>
              <input 
                type="number" 
                class="form-control" 
                id="numberOfBatches"
                required
                ngModel="numberOfBatches"
                name="numberOfBatches"
                #numberOfBatchsRef="ngModel">
              <span class="help-block" *ngIf="!numberOfBatchsRef.valid && numberOfBatchsRef.touched">Prosimo vnesite število šarž</span>  
            </div>

            <!-- START Alternative --
            <div class="dx-field">
                <div class="dx-field-label">Alternativa</div>
                <div class="dx-field-value-static">
                  <dx-select-box [dataSource]="(selectedPlanItemHierarchy$ | async).alternativeOptions" 
                    valueExpr="id" 
                    displayExpr="name" 
                    placeholder="Izberi alternativo"
                    [showClearButton]="true" 
                    [value]="selectedAlternativeId"
                    (onValueChanged)="selectAlternative($event.value)">
                  </dx-select-box>
                  <!-- <span class="help-block" *ngIf="!alternativeRef.valid && alternativeRef.touched">Prosimo izberite alternativo</span> --
                </div>
                <app-alternative *ngIf="alternatives && selectedAlternativeId" [alternative]="getSelectedAlternative()">
                </app-alternative>
              </div>
            <!-- END Alternative --

            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!f.valid">Shrani
            </button>
          </div>  
          <p *ngIf="!batchData.valid && batchData.touched">Podatki niso pravilni</p>
        </form>
      </div> -->
      <!-- END FORM -->

      <!-- <div class="dx-fieldset">
        <div class="dx-field">
          <div class="dx-field-value-static">
            <dx-button text="Prekliči" (onClick)="hidePlanInfo()">
            </dx-button>
            <dx-button type="success" text="Potrdi" (onClick)="logClick()">
            </dx-button>
          </div>
        </div>
      </div> -->
    </dx-scroll-view>
  </div>
</dx-popup>