<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-pagination 
        *ngIf="(planItemState$ | async).pagination && 
          (planItemState$ | async).pagination.pageSize > 14 && 
          (planItemState$ | async).pagination.pageCount > 1"
        class="float-right"
        [showInfo]="false"
        [pagination]="(planItemState$ | async).pagination"
        (pageChange)="loadPlanItemsOnPage($event)">
      </app-pagination>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Šifra naloga</th>
                <th scope="col">Vrsta proizvodnje</th>
                <th scope="col">Šifra artikla</th>
                <th scope="col">Naziv artikla</th>
                <th scope="col">EM</th>
                <th scope="col">ERP količina</th>
                <th scope="col">Datum ERP od</th>
                <th scope="col">Datum ERP do</th>    
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let planItem of (planItemState$ | async).entities">
                <th scope="row">{{ planItem.code }}</th>
                <td></td>
                <td>{{ planItem.product.code }}</td>
                <td>{{ planItem.product.name }}</td>
                <td>{{ planItem.measurementUnit.code }}</td>
                <td>{{ planItem.quantity }}</td>
                <td>{{ planItem.limitDateFrom | date:'short' }}</td>
                <td>{{ planItem.limitDateTo | date:'short' }}</td>        
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  <div class="d-flex justify-content-between">
      <app-page-length [default]="10" (change)="changePageLength($event)" style="min-width: 500px"></app-page-length>
      <app-pagination
      [pagination]="(planItemState$ | async).pagination"
      (pageChange)="loadPlanItemsOnPage($event)"></app-pagination>

  </div>

</div>







<!-- <p>
  planitem-list works!
</p> -->
<!-- {{ (planItemState$ | async).loading }} -->

<!-- <div *ngFor="let planItem of (planItemState$ | async).entities">
  {{ planItem.code }}
</div> -->
