<app-calendar-event-tooltip></app-calendar-event-tooltip>
<dx-data-grid
(onCellPrepared)="applyCellStyles($event)"
  [dataSource]="gridItems"
  [showBorders]="true"
  [columnAutoWidth]="true"
  (onRowUpdating)="updateOperation($event)"
  [allowColumnReordering]="true"
  (onRowExpanded)="rowExpanded($event)"
  (onRowCollapsed)="rowCollapsed($event)"
  (onContentReady)="onContentReady($event)"
  >
  <dxo-editing
    mode="cell"
    [allowUpdating]="true">
  </dxo-editing>
  <!-- <dxi-column dataField="operation.code" caption="Koda" [allowEditing]="false"></dxi-column> -->
  <dxi-column dataField="operation.name" caption="Naziv"  [allowEditing]="false"></dxi-column>
  <dxi-column dataField="operation.idContainer"

    [showWhenGrouped]="true"
    caption="Delovno mesto"
    [groupIndex]="0">
  <dxo-lookup
    [dataSource]="containers"

    sort="code"
    displayExpr="code"
    valueExpr="id">
  </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="item.itemCode" caption="{{translate('Workorder')}}" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="item.articleCode" caption="{{translate('Code_2')}}" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="item.articleName" caption="{{translate('Name')}}" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="item.quantity" caption="{{translate('Quantity')}}" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="item.quantityMeasurementUnit" caption="EM" [allowEditing]="false"></dxi-column>

  <dxi-column dataField="operation.timeStart" caption="Začetek" [dataType]="(planHoursSwitch$ | async) ? 'datetime' : 'date'"></dxi-column>
  <dxi-column dataField="operation.timeEnd" caption="Konec" [dataType]="(planHoursSwitch$ | async) ? 'datetime' : 'date'"></dxi-column>

  <dxi-column dataField="operation.idPriority" caption="Prioriteta" [allowEditing]="true">
    <dxo-lookup
          [dataSource]="priorities"
          displayExpr="Name"
          valueExpr="ID">
        </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="operation.idUserStatus" caption="Izvajanje">
    <dxo-lookup
          [dataSource]="executionStatuses"
          displayExpr="Name"
          valueExpr="ID">
        </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="operation.userDate" caption="Datum" [dataType]="(planHoursSwitch$ | async) ? 'datetime' : 'date'"></dxi-column>
  <dxi-column dataField="operation.comment" caption="Komentar" [allowEditing]="true"></dxi-column>

  <dxi-column dataType="string" alignment="center" dataField="" cellTemplate="showDetailCellTemplate"></dxi-column>


<div *dxTemplate="let cell of 'showDetailCellTemplate'">
  <a class="span-link" (click)="showDetails(cell.data.operation.idPlanItem)">Details</a>
</div>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20,30,50,100]"
        [showInfo]="true">
    </dxo-pager>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>

</dx-data-grid>
