::ng-deep .daily-calendar .dx-scheduler-cell-sizes-vertical {
  height: 60px;
}

::ng-deep .daily-calendar .dx-scheduler-time-panel {
  display: none;
}


::ng-deep .daily-calendar .dx-scheduler-work-space-vertical-group-table {
  width: 100px !important;
}

::ng-deep .daily-calendar .dx-scheduler-date-table-cell {
  width: 0;
  height: 0;
  border: none;
  padding: 0;
}

::ng-deep .daily-calendar .dx-scheduler-all-day-table-cell {
  height: 120px;
}

::ng-deep .daily-calendar .dx-scheduler-work-space-vertical-grouped .dx-scheduler-group-header-content {
  padding: 5px;
}

::ng-deep .daily-calendar .dx-scheduler-work-space-vertical-grouped[dx-group-column-count="1"].dx-scheduler-work-space-both-scrollbar .dx-scheduler-date-table-scrollable {
  margin-left: 100px !important;
}

::ng-deep .daily-calendar .dx-scheduler-work-space-vertical-grouped[dx-group-column-count="1"].dx-scheduler-work-space-both-scrollbar .dx-scheduler-header-scrollable.dx-scrollable {
  margin-left: 100px !important;
}

::ng-deep .daily-calendar .dx-scheduler-all-day-table-cell {
  height: 180px !important;
}

::ng-deep .daily-calendar .dx-scheduler-agenda .dx-scheduler-group-header-content {
  width: 150px;
}



.container-status {
  border: 3px solid;
  display: inline-block;
  border-radius: 6px 2px 6px 2px;
  margin: 5px;
  font-size: 1em;
  width: 30px;
  text-align: center;
}

.container-status:hover{
  border-color: lightgray !important;
}

.container-status-inactive {
  border-color:rgba(0, 0, 0, 0) !important;
  color: lightgray !important
}


@media print {
  ::ng-deep .dx-scheduler-appointment {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    color: white !important;
  }
}
