
<app-process-toolbar (selectAction)="toolbarChange($event)" [toolbar]="toolbar"></app-process-toolbar>
<app-containers></app-containers>


<!-- <button (click)="printScreen()">Print</button> -->


  <div class="card" *ngIf="!containers || containers.length === 0">
    <div class="card-body">
        {{translate('Choose_Workplace')}}
    </div>
  </div>
  <div #calendar class="myDivToPrint" id="section-to-print">
    <dx-scheduler *ngIf="containers && containers.length"
      [firstDayOfWeek]="1"
      [useDropDownViewSwitcher]="false"
      [currentView]="'Work week plan'"
      id="scheduler"
      [groups]="['operation.idContainer']"
      [showCurrentTimeIndicator]="false"
      [showAllDayPanel]="true"
      [dataSource]="appointments"
      [currentDate]="currentDate$ | async"
      [editing]="true"
      (onAppointmentUpdating)="onAppointmentUpdating($event)"
      (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
      (onOptionChanged)="onOptionChanged($event)"
      appointmentTemplate="appointment-template"
      appointmentTooltipTemplate="tooltip-template"
      (onAppointmentRendered) = "renderAppointment($event)"
      [views]="['Week hours plan']"
      endDateExpr="operation.timeEnd"
      startDateExpr="operation.timeStart"
      [crossScrollingEnabled]="true"
      resourceCellTemplate="headerTemplate"
      >
      <dxi-view
        type="week"
        name="Week plan"
        groupOrientation="vertical"
        [cellDuration]="1440"
        [intervalCount]="1"
        maxAppointmentsPerCell="3"></dxi-view>

      <dxi-view
        type="workWeek"
        name="2 Work week plan"
        groupOrientation="vertical"
        [cellDuration]="1440"
        [intervalCount]="2"
        maxAppointmentsPerCell="3"></dxi-view>

      <dxi-view
        type="workWeek"
        name="Work week plan"
        groupOrientation="vertical"
        [cellDuration]="1440"
        [intervalCount]="1"
        maxAppointmentsPerCell="3"></dxi-view>

      <dxi-view
        type="agenda"
        name="Agenda"
        [intervalCount]="1"></dxi-view>


      <dxi-resource
        [dataSource]="containers"
        fieldExpr="operation.idContainer"
        label="Container"
        [useColorAsDefault]="true"
        [allowMultiple]="false"></dxi-resource>

      <div *dxTemplate="let data of 'headerTemplate'">
          <i
            (mouseenter)="toggleGroupTooltip(data, data.id)"
            (mouseleave)="toggleGroupTooltip(data, data.id)"
            [id]="'group-' + data.id">
            {{data.text}}
          </i>
          <div>
            <table>
              <tr>
                <td *ngFor="let status of (containerStatuses$ | async);"
                    [ngStyle]="{'border-color': status.color}"
                    [ngClass]="{'container-status':true, 'container-status-inactive':status.idContainerStatus !== data.data.idContainerStatus}"
                    (click)="contanerStatusSet(data.data.id ,data.data.idContainerStatus, status.idContainerStatus)">
                      {{status.code}}
                  </td>
                </tr>
            </table>
          </div>

          <dx-tooltip
            [visible]="isTooltipGroupVisible(data.id)"
                [target]="'#group-' + data.id"
                [closeOnOutsideClick]="false">
                <div *dxTemplate="let dataT = data of 'content'">
                    {{ getTooltipDescription(data.id) }}
                </div>
            </dx-tooltip>
      </div>

      <div *dxTemplate="let model of 'appointment-template'">
        <!-- <span>{{ model.appointmentData.operation.name }}</span> -->
        <app-event [plannerItemData]="model.appointmentData"></app-event>
        <!-- <app-event [planTask]="model.appointmentData"></app-event> -->
      </div>
      <div *dxTemplate="let model of 'tooltip-template'">
        <app-event-tooltip
          [editable]="editable"
          (changeSequence)="onChangeSequence($event.isUp, $event.idPlanItem)"
          (deletePlanTask)="onAppointmentRemove(model.appointmentData)"
          [planItem]="model.appointmentData">
        </app-event-tooltip>
      </div>


      <dxo-appointment-dragging
      group="draggingGroupName"
      [onAdd]="onAppointmentAdd">
    </dxo-appointment-dragging>

    </dx-scheduler>
  </div>

<!-- <app-event-info-dialog></app-event-info-dialog> -->
<app-calendar-event-tooltip></app-calendar-event-tooltip>
<app-update-time-dialog [changeData]="dialogUpdateData$ | async" [visible]="dialogUpdateData$ | async"></app-update-time-dialog>

